@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

/* Shared Styles */
.container{
    /* width: 80%; */
    /* margin: 5rem auto;
    border-radius: 1rem; */
}

.display-flex{
    display: flex;
}

.text-orange{
    color: rgb(230, 83, 60)    ;
}

.text-white{
    color: rgba(255, 255, 255);
}      

.text-gray{
    color: rgba(255, 255, 255, 0.5);
}

.bg-linear-gray{
    /* background-color: black; */
    background: linear-gradient(180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.banner{
    /* margin-top: 50px; */
}

/* Button styles */
.btn-primary{
    padding: 16px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
}
.btn-download{
    border: 1px solid white;
    padding: 16px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 42px;
    margin-left: 14px;                  
}

/* Badge styles */
.badge{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.badge-1{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    margin-top: -162px;
    margin-left: -120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    

}
.badge-2{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: -460px;
    margin-left: 220px;
    position: absolute;
}

.circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 25px;
}
.play-icon{
    /* display: none; */
    margin-bottom: -55px;
    font-size: 1rem;
    margin-right: 11px;
}
.badge-play{
    margin-top: 12px;
}
.badge-1-number{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 28px;
}
.badge-1-texts{
    margin-bottom: 15px;
    margin-right: 15px;
}
.badge-1-text{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}
.badge-2-number{
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: 25px;
}
.badge-2-text{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
    margin-right: 10px;
    
}

/* Header styles */
header{
    /* background-color: black; */
}

/* Navbar related styles */
.navbar{
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    margin-top: ;
    /* background-color: black;    */
}
.brand{
    font-weight: 800;
    font-size: 2.25rem;
}

.navbar, .banner{
    max-width: 80%;
    margin: 0 auto;
}

.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    height: 46px;
   

}
.nav-item{
    list-style: none;
    margin-right: 47px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size:  1.1rem;
    /* font-weight: 400; */
}

.nav-home{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
    font-weight: 600;
    margin-left: 4px;
}
.about-item{
    padding: 0px 20px;
    margin-right: 4px;
}
.ham-burger{
    display: none;
    color: white;
}
/* banner styles */
.banner{
    justify-content: space-between;
    margin-top: 32px;
}
.banner-title{
    font-weight: 900;
    font-size: 4.8rem;
    margin-top: 97px;
    margin-bottom: 28px;
    line-height: 110%;
}
.title-shape{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 400;
    display: inline-block;
    transform: scale(1.1, 1.1);
    margin-right: 12px;
}
.banner-description{
    font-size: 1rem;
    margin-bottom: 28px;
}
.banner-img{
    /* height: 580px;
    width: 349px;
} */




/* Responsive Design for Mobile */

@media screen and (max-width: 576px) {
    .navbar, .banner {
        max-width: 95%;
    }
    .nav-links{
        display: none;
    }
    .brand{
        font-weight: 800;
        font-size: 2rem;
    }
    .ham-burger{
        display: block;
    }
    .ham-burger i{
        font-size: 1.9rem;
    }
}









































