@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    max-width: 80%;
    margin: 0 auto;
}

/* Shared Styles */
.container{
    /* width: 80%; */
    /* margin: 5rem auto;
    border-radius: 1rem; */
}

.display-flex{
    display: flex;
}

.text-orange{
    color: rgb(230, 83, 60)    ;
}

.text-white{
    color: rgba(255, 255, 255);
}      

.text-gray{
    color: rgba(255, 255, 255, 0.5);
}

.bg-linear-gray{
    /* background-color: black; */
    background: linear-gradient(180deg, rgb(31, 30, 30),rgba(119, 119, 119, 0) 100%);
}

.section-title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.section-description{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Button styles */
.btn-primary{
    padding: 16px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
}
.btn-download{
    border: 1px solid white;
    padding: 16px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 42px;
    margin-left: 14px;                  
}

/* Badge styles */
.badge{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.badge-1{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    margin-top: -162px;
    margin-left: -120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    

}
.badge-2{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: -460px;
    margin-left: 220px;
    position: absolute;
}

.circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 25px;
}
.play-icon{
    /* display: none; */
    margin-bottom: -55px;
    font-size: 1rem;
    margin-right: 11px;
}
.badge-play{
    margin-top: 12px;
}
.badge-1-number{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 28px;
}
.badge-1-texts{
    margin-bottom: 15px;
    margin-right: 15px;
}
.badge-1-text{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}
.badge-2-number{
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: 25px;
}
.badge-2-text{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
    margin-right: 10px;
}

/* Header styles */
header{
    /* background-color: black; */
}

/* Navbar related styles */
.navbar{
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    /* visibility: invisible; */
    /* background-color: black;    */
}
.brand{
    font-weight: 800;
    font-size: 2.25rem;
}

.navbar, .banner{
    max-width: 80%;
    margin: 0 auto;
}

.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    height: 46px;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size:  1.1rem;
    /* font-weight: 400; */
}

.nav-home{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
    font-weight: 600;
    margin-left: 4px;
}
.about-item{
    padding: 0px 20px;
    margin-right: 4px;
}
.ham-burger{
    display: none;
    color: white;
}
/* banner styles */
.banner{
    justify-content: space-between;
    /* margin-top: 32px; */
}
.banner-title{
    font-weight: 900;
    font-size: 4.8rem;
    margin-top: 20px;
    margin-bottom: 28px;
    line-height: 110%;
}
.title-shape{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 400;
    display: inline-block;
    transform: scale(1.1, 1.1);
    margin-right: 12px;
}
.banner-description{
    font-size: 1rem;
    margin-bottom: 28px;
}
.banner-content{
    margin-top: 100px;
}
.featured-img-badge{
    margin-top: 32px;
}
.banner-img{
    /* height: 580px; */
    width: 100%;
}

/* Habits Related Styles */
.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habits{
    text-align: center;
}
.habit-title{
    margin-top: 100px;
}
.habit-text{
    margin-top: 14px;
    margin-bottom: 58px;
}

.habit-card{
    width: 231px;
    height: 284px;
    border: 2px solid red;
}
.habit-img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 3px solid rgb(34, 34, 34);
}
.habit-img-123{
    margin-right: 200px;
}
.habit-name{
    font-size: 1.13rem;
    font-weight: 600;
    margin-bottom: 6px;
    color: white;
}
.habit-description{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Run Extra Mile related styles */
.fitness-section{
    /* display: flex; */
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 18px;
    height: 371px;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.fitness-text{
    width: 443px;
    height: 290px;
    margin-top: 41px;
    margin-left: 84px;
}
.run-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-top: 30px;
    margin-right: 40px;
    object-fit: none;
    object-position: 66% 33%;
    
    
}
.fitness-description{
    margin-top: 14px;
    margin-bottom: 34px;
}



/* BMI related styles */

/* Unique section style */

/* Team related styles */

/* Footer related styles */






/* Responsive Design for Mobile */

 @media screen and (max-width: 576px) {
    .banner, .fitness-section{
        flex-direction: column;
        border: 1px solid blue;
    }

    .navbar , .banner{
        max-width: 95%;
    }
     .nav-links{
        display: none;
    }
     .brand{
        font-weight: 800;
        font-size: 2rem;
    }
    .ham-burger{
        display: block;
    }
    .ham-burger i{
        font-size: 1.9rem;
    }
    /* .navbar ul{
        border: 1px solid red;
        visibility: hidden;
    } */
    .banner-content{
        margin-top: 51px;
    }
    .banner-title{
        font-weight: 900;
        font-size: 2.5rem;
        margin-top: 0px;
        margin-bottom: 28px;
        line-height: 100%;
    }
    .title-shape{
        font-size: 2.25rem;
        font-weight: 400;
        display: inline-block;
        transform: scale(1.9, 1.9);
        margin-right: 30px;
        margin-left: 25px;
    }
    .banner-description{
        width: 274px;
    }
    .btn-primary{
        width: 185px;
        height: 54px;
        font-size: 1rem;
        padding: 16px 27px;
    }
    .join-club{
        display: none;
    }
    .btn-download{
        width: 185px;
        height: 54px;
        font-size: 1rem;
        margin-left: 23px;
        padding: 16px 27px;                 
    }
    .badge-1{
        width: 156px;
        height: 72.5px;
        margin-top: -350px;
        margin-left: 16px;
    }
    .circle{
        width: 30.24px;
        height: 30.24px;
        margin-right: 12px;
        margin-top: 25px;
    }
    .play-icon{
        margin-bottom: -49px;
        font-size: 0.9rem;
        margin-right: 11px;
    }
    .badge-play{
        margin-top: 9px;
    }
    .badge-1-texts{
        margin-bottom: 5px;
        margin-right: 5px;
    }
    
    .badge-1-number{
        font-size: 1.13rem;
        font-weight: 900;
        margin-right: 22px;
    }
    
    .badge-1-text{
        font-size: 0.75rem;
    }
    
    .badge-2{
        width: 145px;
        height: 74px;
        margin-top: -615px;
        margin-left: 220px;
    }
    .badge-2-number{
        font-size: 1.9rem;
        margin-right: 22px;
    }
    .badge-2-text{
        font-size: 0.65rem;
        margin-right: 5px;
    }
    .section-title{
        font-size: 2rem;
    }
    .habits-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 55px;
    }
    .habit-img-123{
        margin-bottom: 36px;
    }

} 








/* @media (max-width: 576px) { 
    .navbar ul{
        display: none;
        border: 1px solid blue;
    }
} */







































